.form-page
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    background-color: #f8f9fa;
}


.register-card
{
    max-width: 480px;
    width: 90%;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

h2
{
    font-size: 22px;
}

.custom-input
{
    border-radius: 8px;
    transition: 0.3s;
}

.custom-input:focus
{
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.3);
}

.book-btn
{
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}

.book-btn:hover
{
    background-color: #0b5ed7;
}